{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h1 class="ui monster section dividing header">
        {{ 'tavy315_sylius_quotes.ui.quotes'|trans }}
    </h1>
    {{ sylius_grid_render(resources, '@SyliusShop/Grid/_default.html.twig') }}
{% endblock %}
